# Allowed incoming sources for backend API calls (comma-separated)
BACKEND_CORS_ORIGINS=http://localhost:3000

# Server
HOST=0.0.0.0
PORT=8000
RELOAD=true
LOG_LEVEL=INFO

# OpenAlex Configuration
OPENALEX_EMAIL=
OPENALEX_API_KEY=

# OpenAI Configuration
OPENAI_API_KEY=

# Supabase Configuration
SUPABASE_URL=
SUPABASE_KEY=